/* @override 
	http://localhost:3000/assets/muutokset.css?body=1
	http://localhost:3000/assets/muutokset.css
*/

.hero2 {
	background:  0 0 rgba(0, 0, 0, 0.45);
}

.juttu {
	border-bottom: 1px dotted silver;
}

.left {
	margin-right: 100px;
	padding-right: 100px;
	height: 1200px;
}

.hero-tx {
	width: 450px;
	text-align: center;
	padding-right: 35px;
	padding-left: 35px;
}


.span2 {
	float: right !important;
	margin: 10px;
}

.oik {
	float: right;
	text-align: right;
}

.vas {
	float: left;
	text-align: left;
}

.about {
  height:300px;
	width:50px;
}

.bar {
  height:2px;
  clear:both;
  background-color: #719500;
}


body {
  padding-top: 70px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 650px;
}

.container-wide {
  margin: 0 auto;
  max-width: 980px;
}

.masthead {
	padding: 10px 0px 20px 0px;
	}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 10px 0; 
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.otsikko {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
	width: 1000px;
	margin-left: 30px;
}

.otsikko-tausta {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 15px 03px;
  background: #333333;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  text-shadow: rgba(0,0,0,0.8) 01px 1px 3px;
}

.otsikko-tausta h4 {
	line-height: 8px;
	margin-bottom: 15px;
	margin-top: 0px;
}

h4 {
	margin-top: 16px;
}

.intro {
    line-height: 25px;
    color: #4B7700;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
	padding: 15px 30px 30px;
}

footer p {
	text-align: center;
}

.tab-bold {
	font-weight: bold;
}

.tab_1 {
	padding-left: 20px;
}

.tab_r {
	text-align: right;
}

.tab_3 {
	width: 75px;
}

