<div class="otsikko">
  <div class="span4">
    <img src="assets/kuva1.jpg" class="img-polaroid">
  </div>
  <div class="span1">&nbsp;</div>

  <div class="span6">
      <img src="assets/logo-2.png">
      <h3>Ruukin Rakennus ja LVI-palvelu Oy </h3>
      <p>Fiskarsintie 513</p>
        
      <p> 10480 Antskog </p>
      <p> torsten@ruukinrakennuspalvelu.fi</p>
      <p> puh 040 730 8052 </p>
  </div>
  <div class="about"> &nbsp;
  </div>
    
  
</div>
