.otsikko
  .span4
    %img.img-polaroid{:src => "assets/kuva1.jpg"}/
  .span1  
  .span6
    %img{:src => "assets/logo-2.png"}/
    %h3 Ruukin Rakennus ja LVI-palvelu Oy
    %p Fiskarsintie 513
    %p 10480 Antskog
    %p torsten@villataika.fi
    %p puh 040 730 8052
  .about
     
