.otsikko
  .span4
    = image_tag "kuva1.jpg" , class: "img-polaroid"
  .span1  
  .span6
    = image_tag "logo-2.png"
    %h3 Ruukin Rakennus ja LVI-palvelu Oy
    %p Fiskarsintie 847
    %p 10480 Antskog
    %p torsten@villataika.fi
    %p puh 040 730 8052
  .about
     
