
<div class="hero-unit">
  <h1>Remontit ja uudisrakennukset</h1>
  <h2> edullisesti ja luotettavasti</h2>
</div>

<div class="intro">
  <p> Ruukin Rakennuspalvelu on monipuolinen ja osaava yritys, jolla on kokemusta sek&auml; uudis- ett&auml; 
      korjausrakentamisesta. <br/>
      Olemme avoimia my&ouml;s ekologisille rakentamisratkaisuille. Pyrimme aina harmoniseen kokonaisuuteen.<br/>
      Toimimme L&auml;nsi-Uudenmaan Antskogista, ja hirsirunkorakenteita toimitamme koko Etel&auml;-Suomeen.</p>
</div>


<div class="row">
  <div class="span5">
	    
	    <div class="juttu">
      <h3>Timberframe-rakenteet   
        <div class="span2">
          <a rel="facebox" href="assets/isot/halli-i.jpg">
          <img src="assets/halli.jpg" class="img-polaroid">
          </a>
        </div>
      </h3>
      <p><b>Ekologista ja kestävää rakentamista. </b> Timberframe-rakenne valmistetaan kokonaan puusta, 
        liitokset tehdään perinteisellä loviliitos-tekniikalla ja varmistetaan puutapein. 
        Jokainen kappale ja liitos valmistetaan käsityönä tarkasti oikeisiin mittoihin. 
        Ruuveja tai nauloja ei käytetä. <a href="http://www.timberframepros.fi/" target="blank">
        Lue lisää: www.timberframepros.fi</a></p>
      </div>

      <div class="juttu">
        <h3>Uudis- ja korjausrakentaminen   
          <div class="span2">
            <a rel="facebox" href="assets/isot/vahanvailla-i.jpg">
            <img src="assets/vahanvailla.jpg" class="img-polaroid">
            </a>
          </div>

        </h3>
        <p><b>Kun haluat rakentaa uutta tai kunnostaa vanhaa, saat meiltä avun ja tekijät.</b> Yhteistyössä kodin kunnostus tai uudistus onnistuu! Toteutamme laajennukset, terassit tai kattoremontit ripeästi ja ammattitaitoisesti.   <br><br></p>
      </div>

      <div class="juttu">
        <h3>Suunnittelupalvelu   
          <div class="span2">
            <a rel="facebox" href="assets/isot/piirustus-i.jpg">
            <img src="assets/piirustus.jpg" class="img-polaroid">
            </a>
          </div>
        </h3>
        <p><b>Teemme myös rakennuspiirustuksia ja suunnittelua. </b>Jos teillä on idea siitä mitä haluatte,
          suunnittelupiirustusten avulla on hyvä mahdollisuus visualisoida se. 
          Näin voidaan etukäteen tutkia eri vaihtoehtoja ja löytää paras tapa toteutukseen. </p>
      </div>

	    <div class="juttu">
        <h3>Kaivuu ja maansiirto   
          <div class="span2">
            <a rel="facebox" href="assets/isot/manfred-i.jpg">
            <img src="assets/manfred.jpg" class="img-polaroid">
            </a>
          </div>
        </h3>
        <p><b>Kun tarvitset salaojia, jätevesiratkaisuja tai puutarhatöitä, traktorikaivurimme hoitaa työn. </b>
          Se soveltuu pihatöihin, sillä sen isot, pehmeät pyörät eivät turmele nurmikkoa. Neliveto takaa, 
          että kaivuri pääsee myös vaikeisiin paikkoihin. Vahva etukuormaaja sopii myös nosto- ja maansiirtotöihin.
        </p>
      </div>

      <div class="juttu">
        <h3>Sahauspalvelu   
          <div class="span2">
            <a rel="facebox" href="assets/isot/wood-i.jpg">
            <img src="assets/wood.jpg" class="img-polaroid">
            </a>
          </div>
        </h3>
        <p><b>Sahaamme Antskogissa tukit tarpeesi mukaan. </b>Lankkua, lautaa tai hirttä – mittatilaustyönä. </p>
      </div> <!-- juttu   -->
  </div> <!-- span5   -->

  <!-- väli   -->
  <div class="span1"></div>

  <!-- toinen palsta, span5   -->
  <div class="span5">

      <div class="juttu">
        <h3>Lvi-työt ja asennukset
          <div class="span2">
            <a rel="facebox" href="assets/isot/hana-i.jpg">
            <img src="assets/hana.jpg" class="img-polaroid">
            </a>
          </div>
        </h3>
        <p><b>Teemme kaikkia uudisrakennukseen, remonttiin tai päivittäiseen huoltoon liittyviä lvi-töitä.</b>
          Kylpyhuoneremontit, lämmityslaitteiden asennukset, wc-pöntön huolto tai pesukoneen asennus
          järjestyvät ripeästi ja edullisesti. </p>
        </div>

        <div class="juttu">
          <h3>Lämpöpumput
            <div class="span2">
              <a rel="facebox" href="assets/isot/ilp-i.jpg">
              <img src="assets/ilp.jpg" class="img-polaroid">
              </a>
            </div>
          </h3>
          <p><b>Asennamme ja huollamme ilmalämpö- ja ilmavesilämpöpumppuja.</b> Mitsubishi Electric on luotettava 
            merkki Suomen vaativiin oloihin, meiltä jopa alk. 1600 € asennettuna. 
            <br>Öljylämmityksen korvaajaksi sopii ilma-vesilämpöpumppu. 
        </div>

        <div class="juttu">
          <h3><a href="aurinko.html">Aurinkolämmitys
            <div class="span2">
              <a rel="facebox" href="assets/isot/kerain3-i.jpg">
              <img src="assets/kerain3.jpg" class="img-polaroid">
              </a>
            </div>
         </a> </h3>
          <p><b>Aurinkolämpö on luonnollinen ja järkevä lämmitysmuoto. </b>Se on edullinen rakentaa ja ylläpitää, 
            ja tuottaa Suomessakin energiaa jopa 9 kuukautta vuodessa. <br> 
            Aurinkolämpö soveltuu niin kotitalouksiin 
            kuin vapaa-ajan asunnoille. Sitä voidaan käyttää lämpimän käyttöveden
            tuottajana tai yhdistää vesikiertoisiin lämmitysmuotoihin. <a href="aurinko.html">Lue lisää </a></p>
        </div>

        <div class="juttu">
          <h3>Altaat ja suihkulähteet   
            <div class="span2">
              <a rel="facebox" href="assets/isot/allas-i.jpg">
              <img src="assets/allas.jpg" class="img-polaroid">
              </a>
            </div>
          </h3>
          <p><b> Rakennamme piha-altaita, uima-altaita sekä suihkulähteitä useiden vuosien kokemuksella.</b> 
            Kysy lisää niin kerromme mahdollisuuksista ja voimme suunnitella yhdessä.
            Kaunis allas kruunaa pihasi!</p>
        </div>

  </div><!-- span   -->
</div><!-- row   -->


