.hero-unit
  %h1 Remontit ja uudisrakennukset
  %h2 edullisesti ja luotettavasti
.intro
  %p
    Ruukin Rakennuspalvelu on monipuolinen ja osaava yritys, jolla on kokemusta sekä uudis- että
    korjausrakentamisesta.
    %br/
    Olemme avoimia myös ekologisille rakentamisratkaisuille. Pyrimme aina harmoniseen kokonaisuuteen.
    %br/
    Toimimme Länsi-Uudenmaan Antskogista, ja hirsirunkorakenteita toimitamme koko Etelä-Suomeen.
.row
  .span5
    .juttu
      %h3
        Timberframe-rakenteet
        .span2
          %a{:href => "assets/isot/halli-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/halli.jpg"}/
      %p
        %b Ekologista ja kestävää rakentamista.
        Timberframe-rakenne valmistetaan kokonaan puusta,
        liitokset tehdään perinteisellä loviliitos-tekniikalla ja varmistetaan puutapein.
        Jokainen kappale ja liitos valmistetaan käsityönä tarkasti oikeisiin mittoihin.
        Ruuveja tai nauloja ei käytetä.
        %a{:href => "http://www.ecoframe.house/", :target => "blank"}
          Lue lisää: www.ecoframe.house
    .juttu
      %h3
        Uudis- ja korjausrakentaminen
        .span2
          %a{:href => "assets/isot/vahanvailla-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/vahanvailla.jpg"}/
      %p
        %b Kun haluat rakentaa uutta tai kunnostaa vanhaa, saat meiltä avun ja tekijät.
        Yhteistyössä kodin kunnostus tai uudistus onnistuu! Toteutamme laajennukset, terassit tai kattoremontit ripeästi ja ammattitaitoisesti.
        %br/
        %br/
    .juttu
      %h3
        Suunnittelupalvelu
        .span2
          %a{:href => "assets/isot/piirustus-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/piirustus.jpg"}/
      %p
        %b> Teemme myös rakennuspiirustuksia ja suunnittelua.
        Jos teillä on idea siitä mitä haluatte,
        suunnittelupiirustusten avulla on hyvä mahdollisuus visualisoida se.
        Näin voidaan etukäteen tutkia eri vaihtoehtoja ja löytää paras tapa toteutukseen.
    .juttu
      %h3
        Kaivuu ja maansiirto
        .span2
          %a{:href => "assets/isot/manfred-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/manfred.jpg"}/
      %p
        %b Kun tarvitset salaojia, jätevesiratkaisuja tai puutarhatöitä, traktorikaivurimme hoitaa työn.
        Se soveltuu pihatöihin, sillä sen isot, pehmeät pyörät eivät turmele nurmikkoa. Neliveto takaa,
        että kaivuri pääsee myös vaikeisiin paikkoihin. Vahva etukuormaaja sopii myös nosto- ja maansiirtotöihin.
    .juttu
      %h3
        Sahauspalvelu
        .span2
          %a{:href => "assets/isot/wood-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/wood.jpg"}/
      %p
        %b> Sahaamme Antskogissa tukit tarpeesi mukaan.
        Lankkua, lautaa tai hirttä – mittatilaustyönä.
    / juttu
  / span5
  / väli
  .span1
  / toinen palsta, span5
  .span5
    .juttu
      %h3
        Lvi-työt ja asennukset
        .span2
          %a{:href => "assets/isot/hana-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/hana.jpg"}/
      %p
        %b Teemme kaikkia uudisrakennukseen, remonttiin tai päivittäiseen huoltoon liittyviä lvi-töitä.
        Kylpyhuoneremontit, lämmityslaitteiden asennukset, wc-pöntön huolto tai pesukoneen asennus
        järjestyvät ripeästi ja edullisesti.
    .juttu
      %h3
        Lämpöpumput
        .span2
          %a{:href => "assets/isot/ilp-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/ilp.jpg"}/
      %p
        %b Asennamme ja huollamme ilmalämpö- ja ilmavesilämpöpumppuja.
        Mitsubishi Electric on luotettava
        merkki Suomen vaativiin oloihin, meiltä jopa alk. 1600 € asennettuna.
        = succeed "\u{d6}ljyl\u{e4}mmityksen" do
          %br/
    .juttu
      %h3
        %a{:href => "aurinko.html"}
          Aurinkolämmitys
          .span2
            %a{:href => "assets/isot/kerain3-i.jpg", :rel => "facebox"}
              %img.img-polaroid{:src => "assets/kerain3.jpg"}/
      %p
        %b> Aurinkolämpö on luonnollinen ja järkevä lämmitysmuoto.
        Se on edullinen rakentaa ja ylläpitää,
        ja tuottaa Suomessakin energiaa jopa 9 kuukautta vuodessa.
        %br/
        Aurinkolämpö soveltuu niin kotitalouksiin
        kuin vapaa-ajan asunnoille. Sitä voidaan käyttää lämpimän käyttöveden
        tuottajana tai yhdistää vesikiertoisiin lämmitysmuotoihin.
        %a{:href => "aurinko.html"} Lue lisää
    .juttu
      %h3
        Altaat ja suihkulähteet
        .span2
          %a{:href => "assets/isot/allas-i.jpg", :rel => "facebox"}
            %img.img-polaroid{:src => "assets/allas.jpg"}/
      %p
        %b Rakennamme piha-altaita, uima-altaita sekä suihkulähteitä useiden vuosien kokemuksella.
        Kysy lisää niin kerromme mahdollisuuksista ja voimme suunnitella yhdessä.
        Kaunis allas kruunaa pihasi!
  / span
/ row
